body {
    font-family: sans-serif;
    background-color: black;
    display: block;
}

header {
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
    /* background-color: black; */
    display: flex;
}

header img {
    width:100px;
    height:90px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: -1px 96px 25px 91px;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    background: brown;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 30px 103px;
    background: gold;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
}

article {
    background-color: black;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    border: 10px solid brown;
    o: center;
    justify-content: center;
    border-radius: 16px;
}

.article-but {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 24px;
    /* text-align: center; */
    /* padding: 10px 25px 10px 101px; */
    padding: 10px 163px;
    width: 100%;
    border-radius: 36px;
}

footer h1 {
    background-color: Grey;    
    color: white;
    display: flex;    
}

h2 {
    color:white;
}

p {
    color: white;
}

.nav-link:hover {
    color: white;
    background: brown;
}

.article-but:hover {
    background-color: brown;
    color: black;
}


header h1 {
    /* margin-right: 900px; */
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
}

.logo {
    float:left;
}
.center {
    width: 100%;
    justify-content: center;
    margin-top:30px;
}


article img {
    width: 100%;
}